body {
  background-color: rgb(10, 10, 10, 0.7);
  color: gray;
}

section {
  margin-top: 5%;
  margin-bottom: 5%;
}

.card {
  background-color: rgba(10, 10, 10, 0.25);
  color: whitesmoke;
}

b {
  color: orangered;
  transition: all 0.5s;
  cursor: pointer;
}

b:hover {
  font-size: larger;
  color: lightseagreen;
}

#php {
  display: none;
}

#out{
  margin: 0% 1%;
  float: right;
  background-color: black;
  color: whitesmoke;
  padding: 1%;
  border-radius: 20px;
}

#show_user{
  margin: 1%;
  background-color: black;
  color: whitesmoke;
  padding: 1%;
  border-radius: 20px;
  width: fit-content;
  cursor: pointer;
}

#out:hover{
  background-color: whitesmoke;
  color: black;
  cursor: pointer;
}