
body {
    overflow-x: hidden;
}
.container {
    max-width: 1280px;
    padding-left: 70px;
    padding-right: 70px;
}
button{
    background: transparent;
    border: none;
}
button:focus {
    box-shadow: none !important;
}
input:focus {
    box-shadow: none !important;
}
select:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}
textarea:focus {
    box-shadow: none !important;
}
a{
    text-decoration: none;
}

.page-sections{
    overflow: hidden;
}
.section-1-video{
    position: relative;
}
.section-1-video:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #09102966 0% 0% no-repeat padding-box;
    top: 0;
    left: 0;
    z-index: 99;
}
.main-video {
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: block;
}
.main-video video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.content-slider{
    position: relative;
    z-index: 9;
}
.content-slider{
    position: relative;
    z-index: 99;
}
.content-slider-content{
    height: 100vh !important;
    position: relative;
}
.first-slide{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh !important;
    position: relative;
    padding-right: 70px;
}
.content-slider .slick-list.draggable {
    height: 100vh !important;
}
.slider-logo{
    position: absolute;
    left: 0;
    top: 45px;
}
.slider-logo img {
    width: 64%;
}
.main-slider-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-slider-content h1{
    text-align: center;
    font: normal normal 300 61px/81px Roboto;
    letter-spacing: -1.28px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.main-slider-content a, .main-slider-content button{
    display: block;
    width: 311px;
    height: 65px;
    background: #0D256F 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 16px #00000029;
    text-align: center;
    font: normal normal 500 24px/65px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    transition: .5s;
}
.main-slider-content a:hover, 
.main-slider-content button:hover{
    background: #101933 ;
}
.main-slider-content h5{
    text-align: center;
    font: normal normal normal 89px/117px Roboto;
    letter-spacing: -1.87px;
    color: #FFFFFF;
    position: relative;
    margin-bottom: 60px;
}
.main-slider-content h5::before{
    content: '';
    position: absolute;
    width: 198px;
    height: 0px;
    border: 1px solid #FFFFFF;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 0);
}
.content-slider-content h2{
    text-align: left;
    font: normal normal 300 47px/59px Roboto;
    letter-spacing: -0.99px;
    color: #FFFFFF;
    max-width: 486px;
    margin-bottom: 30px;
    position: relative;
}
.content-slider-content p{
    text-align: left;
    font: normal normal 300 17px/28px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    max-width: 495px;
}
.second-slide{
    padding-top: 110px;
}
.why-choose{
    width: 708px;
    float: right;
    position: relative;
    top: -23px;
}
.why-choose .why-choose-pic{
    position: absolute;
}
.why-choose-content{
    padding-left: 70px;
    padding-top: 15px;
}
.why-choose-content h4{
    text-align: left;
    font: normal normal normal 12px/23px Roboto;
    letter-spacing: 1.08px;
    color: #E9E2E2;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.why-choose-blocks{
    display: flex;
}
.why-choose-block{
    display: flex;
    padding-right: 15px;
}
.why-choose-block img{
    margin-right: 10px;
}
.why-choose-block h6{
    text-align: left;
    font: normal normal 300 14px/22px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.67;
}
.section-1-video .container {
    padding-right: 0;
}
.content-slider .slick-dots {
    bottom: 0;
    text-align: right;
    width: auto;
    right: 15px;
    top: 50%;
}
.content-slider .slick-dots li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-bottom: 10px;
    opacity: .5;
}
.content-slider .slick-dots li.slick-active, 
.content-slider .slick-dots li:hover {
    opacity: 1;
}
.content-slider .slick-dots li:last-child {
    margin-bottom: 0;
}
.content-slider .slick-dots li button:before {
    display: none;
}
.content-slider .slick-dots li button {
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
}

.service-wrap{
    width: 100%;
    height: 100%;
    background: #0C1225 0% 0% no-repeat padding-box;
    padding-top: 65px;
}
.service-wrap h2{
    text-align: left;
    font: normal normal 500 45px/44px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    position: relative;
    margin-bottom: 25px;
}
.service-wrap h2:before{
    content: '';
    position: absolute;
    width: 373px;
    height: 251px;
    background: transparent url('../img/small-overlay-section-2.png') 0% 0% no-repeat padding-box;
    top: -60px;
    left: -20%;
}
.service-wrap p{
    text-align: left;
    font: normal normal 300 17px/29px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.service-slider{
    margin-top: 40px;
}
.service-slides{
    width: 100%;
    height: 350px;
    /* min-height: 370px; */
    background: #101933 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 23px #00000029;
    padding: 65px 38px 42px 38px;
    margin: 0 8px;
}
.service-slides img{
    width: fit-content;
    margin-bottom: 45px;
}
.service-slides h4{
    text-align: left;
    /* font: normal normal 300 26px/37px Roboto; */
    font: normal normal 300 23px/33px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.service-slider .slick-next:before {
    content: '';
    background: transparent url('../img/service-slider-right-arrow.png') 0% 0% no-repeat padding-box;
    width: 19px;
    height: 31px;
    display: block;
    right: -15px;
    position: relative;
}
.service-slider .slick-prev:before {
    content: '';
    background: transparent url('../img/service-slider-left-arrow.png') 0% 0% no-repeat padding-box;
    width: 19px;
    height: 31px;
    display: block;
    left: -15px;
    position: relative;
}

.global-wrap{
    width: 100%;
    height: 100vh;
    position: relative;
    /* background: transparent url('../img/bg-section-4.png') 0% 0% no-repeat padding-box; */
    background: #0d1f2f;
    background-size: cover;
    /* z-index: 1; */
}
.global-wrap:before {
    content: '';
    position: absolute;
    /* background: transparent url('../img/overlay-bg-section-4.png') 0% 0% no-repeat padding-box; */
    /* background: #0d1f2f; */
    background: transparent url('../img/bg-section-4.png') 0% 0% no-repeat padding-box;
    width: 100%;
    height: 100vh;
    display: block;
    left: 0;
    top: 0;
    /* z-index: -1; */
    background-size: cover;
}
.global-contents{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100vh;
    padding-bottom: 15px;
    position: relative;
}
.global-contents h2{
    text-align: left;
    font: normal normal 500 48px/55px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-bottom: 21px;
    max-width: 314px;
    position: relative;
}
.global-contents h2:before {
    content: '';
    position: absolute;
    width: 675px;
    height: 259px;
    background: transparent url('../img/small-overlay-section-4.png') 0% 0% no-repeat padding-box;
    top: -70px;
    left: -110%;
    /* z-index: 99; */
}
.global-contents p{
    text-align: left;
    font: normal normal 300 17px/29px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    max-width: 707px;
}

.last-section{
    width: 100%;
    height: 100vh;
    position: relative;
    background: transparent url('../img/bg-section-5.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    position: relative;
}
.last-section:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #0c101de0 0% 0% no-repeat padding-box;
    top: 0;
    left: 0;
    /* z-index: 99; */
}
.last-section-contents{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.last-section-contents img{
    margin-bottom: 64px;
}
.last-section-contents h3{
    text-align: center;
    font: normal normal normal 30px/52px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-bottom: -5px;
}
.last-section-contents p{
    text-align: center;
    font: normal normal 300 19px/29px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-bottom: 47px;
}
.contact{
    display: flex;
}
.contact-info{
    margin-bottom: 53px;
    margin-right: 45px;
}
.contact-info:last-child{
    margin-right: 0;
}
.contact-info h4{
    text-align: right;
    font: normal normal 300 16px/29px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-bottom: 4px;
}
.contact-info:last-child h4{
    text-align: left;
}
.contact-info a{
    transition: .5s;
    text-align: right;
    font: normal normal normal 30px/29px Roboto;
    letter-spacing: 0.3px;
    color: #FFFFFF;
}
.contact-info:last-child a{
    text-align: left;
}
.contact-info a:hover{
    opacity: .8;
}
.social{
    display: flex;
}
.social a{
    transition: .5s;
    margin-right: 65px;
}
.social a:last-child{
    margin-right: 0;
}
.social a:hover i{
    opacity: .8;
}
.social a i{
    color: #fff;
    font-size: 38px;
}
.copyright{
    margin-top: 120px;
}
.copyright p{
    text-align: center;
    font: normal normal 300 14px/29px Roboto;
    letter-spacing: 0.14px;
    color: #D0D4E2;
    margin-bottom: 0;
}




