@media only screen and (min-width: 1000px){
    .header-wrap .navbar-collapse {
        display: block !important;
    }
}

@media only screen and (min-width: 1300px){
    .container {
        max-width: 1366px;
    }
    
}

@media only screen and (min-width: 1500px){
    .second-slide {
        padding-top: 216px;
    }
    .content-slider-content h2 {
        margin-bottom: 42px;
    }
    .why-choose {
        top: 40px;
    }
    .service-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0;
    }
    .service-slider {
        margin-top: 65px;
    }
    .global-contents {
        padding-bottom: 95px;
    }
}

@media only screen and (min-width: 1920px){
    .second-slide {
        padding-top: 335px;
    }
    .global-contents {
        padding-bottom: 135px;
    }
}

@media only screen and (max-width: 1200px){
    .container { 
        padding-left: 30px;
        padding-right: 30px;
    }
    
}

@media only screen and (max-width: 992px){

}

@media only screen and (max-width: 767px){
    
}

@media only screen and (max-width: 425px){

}

@media only screen and (max-width: 390px){

}

@media only screen and (max-width: 375px){

}

@media only screen and (max-width: 360px){

}

